.reasonsBlock {
  margin-top: 80px;
  margin-bottom: 80px;
}

.reasonsBlock .reasonsTitle {
  font-size: 2rem;
  font-weight: bold;
  padding: 60px;
  width: 100%;
  text-align: center;
}

.reason {
  margin-bottom: 80px;
}

.reason img {
  width: 60px;
  height: 60px;
}

.reasonsBlock p {
  font-size: 1.5rem;
  text-align: center;
  max-width: 100%;
}

.reasonsBlock button {
  background-color: var(--primary) !important;
  color: #000000;
  font-weight: bold;
  margin-top: 30px;
}

.reasonsBlock button:hover, .reasonsBlock button:focus{
  background-color: var(--primary-dark) !important;
}

@media (min-width: 768px) {
  .reasonsBlock {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .reasonsBlock .reasonsTitle {
    font-size: 3rem;
    font-weight: bold;
    padding: 60px;
  }
}

@media (min-width: 1000px) {
  .reasonsBlock p {
    font-size: 1.6rem;
    text-align: center;
    max-width: 100%;
  }
}

@media (min-width: 1100px) {
  .reasonsBlock {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .reasonsBlock h3 {
    font-size: 3rem;
    text-align: left;
    width: 100%;
    margin-bottom: 150px;
    padding: 0 60px;
  }

  .reasonsBlock p {
    text-align: center;
    max-width: 100%;
  }
}
